{{- if not (lookPath "brew") -}}
{{- if eq .chezmoi.os "darwin" -}}
#!{{ lookPath "bash"}}
{{ lookPath "bash"}} -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
{{- end }}
{{- end }}
