#!{{ lookPath "bash" }}
{{ if eq .chezmoi.os "linux" -}}
echo 'Installing packages from repo / AUR...'
# Packages hash: {{ include (joinPath .chezmoi.homeDir ".config/packages/packages") | sha256sum }}
yay -Syu --needed --batchinstall --noprovides --noconfirm - < {{ (joinPath .chezmoi.homeDir ".config/packages/packages") }}
{{- else if eq .chezmoi.os "darwin" -}}
echo 'Installing homebrew packages...'
# Brewfile hash: {{ include (joinPath .chezmoi.homeDir ".config/packages/Brewfile") | sha256sum }}
brew bundle --no-lock --file "{{ (joinPath .chezmoi.homeDir ".config/packages/Brewfile") }}"
{{- end }}
