#!{{ lookPath "bash" }}
# adsf plugins hash: {{ include (joinPath .chezmoi.homeDir ".asdf/asdf_plugins") | sha256sum }}

IFS=$'\n' read -r -d '' -a current_plugins < <( asdf plugin list && printf '\0' )

while read plugin; do
  if [[ ! " ${current_plugins[@]} " =~ " ${plugin} " ]]; then
    # commands here when array doesn't contains a value
    asdf plugin add "$plugin"
  else
    printf "asdf plugin %s alrady installed, skipping.\n" "$plugin"
  fi
done < {{ joinPath .chezmoi.homeDir ".asdf/asdf_plugins" }}
