if command -sq lsd
  alias ls="lsd"
  alias ll="lsd -l"
  alias la="lsd -a"
  alias lt="lsd --tree"
  alias lla="lsd -la"
end

if command -sq kubectl-kc
  alias kubecm="kubectl kc"
  alias kc="kubecm"
end
