{{- if eq .chezmoi.os "linux" -}}
# Emulate pbcopy/pbpaste
alias pbcopy 'xclip -selection clipboard'
alias pbpaste 'xclip -selection clipboard -o'
{{- end }}

{{- if $.kubernetes }}
alias k "$AQUA_ROOT_DIR/bin/kubectl"
alias kc "$AQUA_ROOT_DIR/bin/kubecolor"
{{- end }}

alias cat "$AQUA_ROOT_DIR/bin/bat"

alias ls "$AQUA_ROOT_DIR/bin/lsd"
alias ll "$AQUA_ROOT_DIR/bin/lsd -l"
alias la "$AQUA_ROOT_DIR/bin/lsd -a"
alias lt "$AQUA_ROOT_DIR/bin/lsd --tree"
alias lla "$AQUA_ROOT_DIR/bin/lsd -la"

alias wget "wget --hsts-file=\"$XDG_DATA_HOME/wget-hsts\""
