set -gx AQUA_CONFIG {{ .chezmoi.homeDir }}/.config/aqua/aqua.yaml
set -gx AQUA_GLOBAL_CONFIG {{ .chezmoi.homeDir }}/.config/aqua/aqua.yaml
set -gx AQUA_ROOT_DIR {{ .chezmoi.homeDir }}/.local/share/aqua

fish_add_path $AQUA_ROOT_DIR/bin

{{ if ne .chezmoi.os "darwin" -}}
  set -gx AQUA_EXPERIMENTAL_X_SYS_EXEC true
{{ end -}}
