{{- $personal := false -}}{{/* true if this is a personal machine */}}

{{- $agekey := false -}}{{/* true if this machine has agekey to decrypt secret */}}
{{- $kubernetes := false -}}{{/* true if this machine is used for Kubernetes work */}}

{{- $hostname := "" -}}
{{- if (eq .chezmoi.os "darwin") -}}
  {{- $hostname = output "scutil" "--get" "LocalHostName" | trim -}}
{{- else -}}
  {{- $hostname = .chezmoi.hostname -}}
{{- end -}}

{{- if eq $hostname "bjw-s-macbook" -}}
  {{- $personal = true -}}
  {{- $agekey = true -}}
  {{- $kubernetes = true -}}
{{- else if eq $hostname "sectigo-laptop" -}}
  {{- $personal = false -}}
  {{- $agekey = true -}}
  {{- $kubernetes = true -}}
{{- end -}}

format: yaml
sourceDir: {{ .chezmoi.homeDir }}/Development/source_code/git/github.com/bjw-s/dotfiles

data:
  personal: {{ $personal }}
  agekey: {{ $agekey }}
  kubernetes: {{ $kubernetes }}
  bash: "/usr/bin/env bash"
  fish: "/usr/bin/env fish"

encryption: age

{{- if $agekey }}
age:
  identity: {{ .chezmoi.homeDir }}/.config/age/keys.txt
  recipient: age1uk0y2ahfavgsgqvrtg5a22w5gytpdmjuatxtcw6kntmxhlcgreesuwzw5s
{{- end }}
