{{- $personal := false -}}{{/* true if this machine should have personal secrets from BitWarden */}}
{{- $docker := false -}}{{/* true if this machine is used for local Docker work */}}
{{- $kubernetes := false -}}{{/* true if this machine is used for Kubernetes work */}}

{{- $personal = promptBool "personal" -}}
{{- $docker = promptBool "docker" -}}
{{- $kubernetes = promptBool "kubernetes" -}}

format: yaml
sourceDir: {{ .chezmoi.homeDir }}/Development/source_code/github.com/bjw-s/dotfiles

data:
  bash: "/usr/bin/env bash"
  fish: "/usr/bin/env fish"
