[init]
  defaultBranch = main

{{ if (eq .chezmoi.os "darwin") -}}
[credential]
    helper = osxkeychain

{{ end -}}
[user]
  {{- if .personal }}
  name=Bᴇʀɴᴅ Sᴄʜᴏʀɢᴇʀs
  email=me@bjw-s.dev
  signingkey=ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIMyYn4k4V+myBBl79Nt3t7EZugvz9A+d3ZbKyaP1w7J5
  {{- end }}

[core]
  excludesfile={{ .chezmoi.homeDir }}/.gitignore_global
  autocrlf=input

[commit]
  gpgsign=true

[merge]
  ff = only

[pull]
  rebase = true

[status]
  submoduleSummary = false

[tag]
  forceSignAnnotated = true

[gpg]
  {{- if .personal }}
  format=ssh

  [gpg.ssh]
    allowedSignersFile={{ .chezmoi.homeDir }}/.ssh/authorized_signatures
  {{- else }}
  program=gpg
  {{- end }}

[gitget]
  root={{ .chezmoi.homeDir }}/Development/source_code
  host=github.com
