{{- $gitroot := (joinPath .chezmoi.homeDir "Development/source_code/git") -}}
[init]
  defaultBranch = main

{{ if (eq .chezmoi.os "darwin") -}}
[credential]
    helper = osxkeychain

{{ end -}}

[core]
  excludesfile={{ .chezmoi.homeDir }}/.gitignore_global
  autocrlf=input

[merge]
  ff = only

[pull]
  rebase = true

[status]
  submoduleSummary = false

[tag]
  forceSignAnnotated = true

[gpg]
  program=gpg

[gitget]
  root={{ $gitroot }}
  host=github.com

{{- if $.work -}}
[includeIf "gitdir:{{ $gitroot }}/sectigo-eng/"]
        path = ~/.gitconfig_work

{{- end }}

[includeIf "gitdir:{{ $gitroot }}/github.com/"]
        path = ~/.gitconfig_personal
