#!{{ .fish }}

{{- if (eq .chezmoi.os "darwin") }}
# Brewfile hash: {{ include (joinPath .chezmoi.sourceDir "private_dot_config/homebrew/Brewfile.tmpl") | sha256sum }}
if ! command -v brew &> /dev/null; then
  brew bundle --no-lock --file {{ .chezmoi.homeDir }}/.config/homebrew/Brewfile
end
{{- end }}
