{{- if (eq .chezmoi.os "darwin") -}}
#!{{ .bash }}

# Set up Homebrew
if ! command -v brew &> /dev/null; then
  {{ .bash }} -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
fi

# Install fish shell
if ! command -v fish &> /dev/null; then
  brew install fish
fi

FISH_PATH=$(which fish)
if ! grep -q "${FISH_PATH}" "/etc/shells"; then
  echo 'Adding fish shell to system shells...'
  sudo sh -c "echo ${FISH_PATH} >> /etc/shells"
fi

CURRENT_SHELL=$(dscl . -read {{ .chezmoi.homeDir }} UserShell)
if [[ "$CURRENT_SHELL" != "UserShell: $FISH_PATH" ]]; then
  echo 'Setting fish shell as default shell...'
  chsh -s "$FISH_PATH"
fi
{{- end }}
