{{- if (eq .chezmoi.os "darwin") }}
cask_args appdir: "/Applications"
tap "esolitos/ipa" # Required for sshpass
tap "grdl/tap" # Required for git-get
tap "fluxcd/tap" # Required for flux
tap "homebrew/cask-drivers"

brew "mas"

mas "1Blocker", id: 1365531024
mas "1Password", id: 1333542190
mas "Amphetamine", id: 937984704
mas "Keka", id: 470158793
mas "MQTT Explorer", id: 1455214828
mas "Parcel", id: 639968404
mas "Reeder", id: 1529448980
mas "Soulver 2", id: 413965349
mas "Twitterific", id: 1289378661
mas "Wireguard", id: 1451685025

cask "alfred"
cask "android-platform-tools"
cask "anylist"
cask "autodesk-fusion360"
cask "calibre"
cask "chronosync"
cask "discord"
cask "drawio"
cask "gpg-suite"
cask "iina"
cask "iterm2"
cask "keyboard-maestro"
cask "microsoft-edge"
cask "plex"
cask "raspberry-pi-imager"
cask "rocket"
cask "setapp"
cask "sonos"
cask "superslicer"
cask "visual-studio-code"
cask "whatsapp"

brew 'age'
brew 'bat'
brew 'coreutils'
brew 'direnv'
brew 'dog'
brew 'fd'
brew 'findutils'
brew 'fish'
brew 'fluxcd/tap/flux'
brew 'fzf'
brew 'grep'
brew 'git'
brew 'grdl/tap/git-get'
brew 'gnu-sed'
brew 'go'
brew 'jq'
brew 'lsd'
brew 'minio-mc'
brew 'pinentry-mac'
brew 'pre-commit'
brew 'pyenv'
brew 'shellcheck'
brew 'sops'
brew 'esolitos/ipa/sshpass'
brew 'starship'
brew 'stern'
brew 'terraform'
brew 'terminal-notifier'
brew 'tree'
brew 'wget'
brew 'ykman'
brew 'yq'
brew 'zoxide'

# Fonts
tap "homebrew/cask-fonts"
cask "font-jetbrains-mono-nerd-font"
cask "font-hack-nerd-font"

{{ if $.kubernetes -}}
# Kubernetes tools
tap "hidetatz/tap" # Required for kubecolor
cask "docker"
brew 'helm'
brew 'hidetatz/tap/kubecolor'
brew 'kubernetes-cli'
brew 'velero'
{{- end }}

{{- end }}
