{{- if (eq .chezmoi.os "darwin") }}
cask_args appdir: "/Applications"
tap "esolitos/ipa" # Required for sshpass
tap "fluxcd/tap" # Required for flux
tap "homebrew/cask-drivers"

brew "mas"

mas "1Blocker", id: 1365531024
mas "1Password", id: 1333542190
mas "Amphetamine", id: 937984704
mas "Keka", id: 470158793
mas "Soulver 2", id: 413965349
mas "Wireguard", id: 1451685025

cask "alacritty"
cask "android-platform-tools"
cask "bartender"
cask "bettertouchtool"
cask "chronosync"
cask "discord"
cask "drawio"
cask "forklift"
cask "gpg-suite"
cask "iterm2"
cask "maccy"
cask "microsoft-edge"
cask "obsidian"
cask "raycast"
cask "rocket"
cask "shottr"
cask "visual-studio-code"

brew 'asdf'
brew 'age'
brew 'bat'
brew 'coreutils'
brew 'dog'
brew 'fd'
brew 'findutils'
brew 'fish'
brew 'fluxcd/tap/flux'
brew 'fzf'
brew 'grep'
brew 'git'
brew 'gnu-sed'
brew 'go'
brew 'jq'
brew 'lsd'
brew 'minio-mc'
brew 'pinentry-mac'
brew 'pre-commit'
brew 'shellcheck'
brew 'sops'
brew 'esolitos/ipa/sshpass'
brew 'starship'
brew 'terraform'
brew 'terminal-notifier'
brew 'tmux'
brew 'tree'
brew 'viddy'
brew 'wget'
brew 'ykman'
brew 'yq'
brew 'zoxide'

# Fonts
tap "homebrew/cask-fonts"
cask "font-jetbrains-mono-nerd-font"
cask "font-hack-nerd-font"

{{ if $.personal -}}
# Personal tools
mas "Home Assistant", id: 1099568401
mas "MQTT Explorer", id: 1455214828
mas "Parcel", id: 639968404
mas "Reeder", id: 1529448980
mas "Twitterific", id: 1289378661

cask "anylist"
cask "autodesk-fusion360"
cask "calibre"
cask "iina"
cask "meta"
cask "plex"
cask "raspberry-pi-imager"
cask "sonos"
cask "superslicer"
cask "whatsapp"
{{- end }}

{{ if $.kubernetes -}}
# Kubernetes tools
tap "hidetatz/tap" # Required for kubecolor
cask "docker"
brew 'helm'
brew 'hidetatz/tap/kubecolor'
brew 'kubernetes-cli'
brew 'stern'
{{- end }}

{{- end }}
