# Set up homebrew
{{- if eq .chezmoi.os "darwin" }}
{{- else }}
eval (/home/linuxbrew/.linuxbrew/bin/brew shellenv)
{{- end }}

set HOMEBREW_PREFIX (brew --prefix)

fish_add_path "$HOMEBREW_PREFIX/bin"
fish_add_path "$HOMEBREW_PREFIX/sbin"
fish_add_path "$HOMEBREW_PREFIX/opt/curl/bin"
fish_add_path "$HOMEBREW_PREFIX/opt/grep/libexec/gnubin"
fish_add_path "$HOMEBREW_PREFIX/opt/gnu-sed/libexec/gnubin"
fish_add_path "$HOMEBREW_PREFIX/opt/gnu-tar/libexec/gnubin"
fish_add_path "$HOMEBREW_PREFIX/opt/coreutils/libexec/gnubin"
fish_add_path "$HOMEBREW_PREFIX/opt/libpq/bin"
fish_add_path "$HOMEBREW_PREFIX/opt/findutils/libexec/gnubin"
set -gx HOMEBREW_NO_ANALYTICS 1

if test -d "$HOMEBREW_PREFIX/share/fish/completions"
  set -gx fish_complete_path $fish_complete_path "$HOMEBREW_PREFIX/share/fish/completions"
end

if test -d "$HOMEBREW_PREFIX/share/fish/vendor_completions.d"
  set -gx fish_complete_path $fish_complete_path "$HOMEBREW_PREFIX/share/fish/vendor_completions.d"
end

{{- if eq .chezmoi.os "darwin" }}

set -gx LDFLAGS "-L$HOMEBREW_PREFIX/lib -L$HOMEBREW_PREFIX/opt/openssl@3/lib"
set -gx CPPFLAGS "-I$HOMEBREW_PREFIX/include -I$HOMEBREW_PREFIX/opt/openssl@3/include"
{{- end }}
