---
# aqua - Declarative CLI Version Manager
# https://aquaproj.github.io/
registries:
  - type: standard
    ref: v3.49.0 # renovate: depName=aquaproj/aqua-registry

packages:
  - name: FiloSottile/age@v1.0.0
  - name: sharkdp/bat@v0.21.0
  - name: cli/cli@v2.14.7
  - name: cue-lang/cue@v0.4.3
  - name: direnv/direnv@v2.32.1
  - name: ogham/dog@v0.1.0
  - name: junegunn/fzf@0.33.0
  - name: charmbracelet/glow@v1.4.1
  - name: golang/go@1.18.5
  - name: go-task/task@v3.15.0
  - name: stedolan/jq@jq-1.6
  - name: jesseduffield/lazygit@v0.34
  - name: Peltoche/lsd@0.23.0
  - name: neovim/neovim@v0.7.2
  - name: koalaman/shellcheck@v0.8.0
  - name: mozilla/sops@v3.7.3
  - name: starship/starship@v1.10.2
  - name: hashicorp/terraform@v1.2.8
  - name: gruntwork-io/terragrunt@v0.38.9
  - name: sachaos/viddy@v0.3.6
  - name: mikefarah/yq@v4.27.3
  - name: ajeetdsouza/zoxide@v0.8.3

{{- if $.kubernetes }}
  - name: harness/drone-cli@v1.5.0
  - name: fluxcd/flux2@v0.33.0
  - name: helm/helm@v3.9.4
  - name: rancher/k3d@v5.4.6
  - name: kubernetes-sigs/krew@v0.4.3
  - name: sbstp/kubie@v0.18.0
  - name: hidetatz/kubecolor@v0.0.20
  - name: yannh/kubeconform@v0.4.14
  - name: kubernetes/kubectl
    version: v1.24.3
  - name: kubernetes-sigs/kustomize@kustomize/v4.5.7
  - name: stern/stern@v1.21.0
  - name: budimanjojo/talhelper@v1.4.0
  - name: talos-systems/talos@v1.2.0
  - name: int128/kubelogin@v1.25.2
  - name: hashicorp/vault@v1.11.2
{{- end }}
