{{- if $.work -}}
DEFAULT_IDENTITY = "work"
{{- else -}}
DEFAULT_IDENTITY = "personal"
{{- end }}

MATCH_PATH = [
  # [directory pattern, identity]
  [r"src/personal", "personal"],
]

SSH_ADD_OPTIONS = [
  # Add ykcs11 auth for work sessions
  [ ["work"], [], "-s /usr/lib/libykcs11.so -t 7200"],
  # As default prevent keys remaining in memory for too long (>2h) for all
  # identities and binaries. Set SSH_ADD_OPTIONS to empty to disable this.
  [ [], [], "-t 7200"],
]

SSH_OPTIONS = [
  # As default pass UseRoaming=no to standard ssh binaries for all identities,
  # due to CVE-2016-0777. Set SSH_OPTIONS to empty to disable this.
  [ [], ['ssh', 'scp', 'sftp', ], "-oUseRoaming=no"],
]

VERBOSITY = LOG_WARN
