### Font
font pango: FiraCode Nerd Font 9

### Variables
set $mod Mod4
set $alt Mod1

#### Terminal
set $term alacritty
set $term_float $term --class floating_shell

#### Set bindir
set $BIN_DIR ~/.local/bin

#### Application launcher
set $menu wofi --show drun
