### Key bindings

#### Start a terminal
bindsym $mod+Return exec $term

#### Kill focused Window
bindsym $mod+Shift+q kill

#### Start launcher
bindsym $mod+d exec $menu
bindsym $mod+Shift+p exec $BIN_DIR/wofi_projects.sh

#### Reload configuration file
bindsym $mod+Shift+c exec swaymsg reload && systemctl --user restart kanshi

#### Workspaces
bindsym $mod+1 workspace $ws1
bindsym $mod+2 workspace $ws2
bindsym $mod+3 workspace $ws3
bindsym $mod+4 workspace $ws4
bindsym $mod+5 workspace $ws5
bindsym $mod+Next workspace next
bindsym $mod+Prior workspace prev

bindsym $mod+Shift+1 move container to workspace $ws1, workspace $ws1
bindsym $mod+Shift+2 move container to workspace $ws2, workspace $ws2
bindsym $mod+Shift+3 move container to workspace $ws3, workspace $ws3
bindsym $mod+Shift+4 move container to workspace $ws4, workspace $ws4
bindsym $mod+Shift+5 move container to workspace $ws5, workspace $ws5
bindsym $mod+Shift+Next move container to workspace next_on_output, workspace next
bindsym $mod+Shift+Prior move container to workspace prev_on_output, workspace prev

#### Scratchpad:
# Move the currently focused window to the scratchpad
bindsym $mod+Shift+minus move scratchpad

# Show the next scratchpad window or hide the focused scratchpad window.
# If there are multiple scratchpad windows, this command cycles through them.
bindsym $mod+minus scratchpad show

#### Windows
bindsym $mod+Shift+b splith
bindsym $mod+Shift+v splitv

bindsym $mod+s layout stacking
bindsym $mod+w layout tabbed
bindsym $mod+e layout toggle split

bindsym $mod+f fullscreen

# Toggle the current focus between tiling and floating mode
bindsym $mod+Shift+space floating toggle

# Swap focus between the tiling area and the floating area
bindsym $mod+space focus mode_toggle

#### Volume control
bindsym --locked XF86AudioMute exec pactl set-sink-mute @DEFAULT_SINK@ toggle
bindsym --locked XF86AudioLowerVolume exec pactl set-sink-volume @DEFAULT_SINK@ -5%
bindsym --locked XF86AudioRaiseVolume exec pactl set-sink-volume @DEFAULT_SINK@ +5%
bindsym --locked XF86AudioMicMute exec pactl set-source-mute @DEFAULT_SOURCE@ toggle

#### Media keys
bindsym --locked XF86AudioPrev exec playerctl previous
bindsym --locked XF86AudioPlay exec playerctl play-pause
bindsym --locked XF86AudioNext exec playerctl next

#### Screenshots
bindsym Print exec grimshot --notify copy area
bindsym Shift+Print exec grimshot --notify copy output
bindsym Control+Print exec grimshot --notify copy window

#### Launch Emoji dialog
bindsym $alt+Shift+e exec $BIN_DIR/wofi_emoji.sh insert

#### Launch Power dialog
bindsym $mod+Shift+Delete exec $BIN_DIR/wofi_power.sh

#### Launch clipboard manager dialog
bindsym $mod+v exec clipman pick -t wofi
