#### Keyring
exec eval $(gnome-keyring-daemon --start)
exec export SSH_AUTH_SOCK

exec_always "systemctl --user import-environment; systemctl --user start sway-session.target"

#### Window focus
exec swaymsg focus output $ws1
