{{- $asdf_file := joinPath .chezmoi.sourceDir (print "_packages/asdf." .chezmoi.os) -}}
#!/usr/bin/env bash
{{- if (stat $asdf_file) }}
# Hash asdf file {{ include $asdf_file | sha256sum }}

function update_asdf_plugins() {
  echo "Updating asdf plugins..."
  asdf plugin update --all &> /dev/null
}

function strip_comments_from_file() {
  sed -e 's/[[:space:]]*#.*// ; /^[[:space:]]*$/d' "$1"
}

function is_asdf_plugin_installed() {
  test $(asdf plugin list | grep "$1")
}

function is_asdf_plugin_version_installed() {
  test $(asdf list "$1" | grep "$2")
}

function process_asdf_file() {
  while read -r line
  do
    IFS="=" read -r asdf_plugin asdf_version <<< "$line"

    if ! is_asdf_plugin_installed "${asdf_plugin}"; then
      asdf plugin add "${asdf_plugin}"
    fi

    if [ "${asdf_version}" == "latest" ]; then
      asdf_version=$(asdf latest "${asdf_plugin}")
    fi

    if ! is_asdf_plugin_version_installed "${asdf_plugin}" "${asdf_version}"; then
      asdf install "${asdf_plugin}" "${asdf_version}"
    fi

    asdf global "${asdf_plugin}" "${asdf_version}"

  done < <(strip_comments_from_file "{{ $asdf_file }}")
}

function main() {
  update_asdf_plugins
  process_asdf_file
}

if [ ${#BASH_SOURCE[@]} = 1 ]; then
  main
fi
{{- end }}
