{{ if eq .chezmoi.os "darwin" -}}
#!/usr/bin/env bash

#set -Eeuox pipefail
set -Eeuo pipefail

function is_fish_installed() {
  which fish > /dev/null
}

function is_fish_in_shells() {
  grep "$(which fish)" /etc/shells > /dev/null
}

function is_fish_current_shell() {
  if [[ $SHELL == "$(which fish)" ]]; then
    return 0
  fi
  return 1
}

function install_fish_shell() {
  if is_fish_installed; then
    if ! is_fish_in_shells; then
      echo "Need to add fish as a shell"
      echo "$(which fish)" | sudo tee -a /etc/shells 2>&1 > /dev/null
    fi

    if ! is_fish_current_shell; then
      echo "Changing shell to fish"
      chsh -s $(which fish)
    fi
  fi
}

function is_fisher_installed() {
  test -f "$HOME/.config/fish/functions/fisher.fish"
}

function install_fisher() {
  if ! is_fisher_installed; then
    curl -sL https://raw.githubusercontent.com/jorgebucaran/fisher/main/functions/fisher.fish -o "$HOME/.config/fish/functions/fisher.fish"
  fi
}

function main() {
  install_fish_shell
  install_fisher
}

if [ ${#BASH_SOURCE[@]} = 1 ]; then
  main
fi
{{- end }}
