#!{{ lookPath "bash" }}
set -eufo pipefail

{{- if eq .chezmoi.os "darwin" }}
# Install HomeBrew
{{ if not (lookPath "brew") -}}
{{ lookPath "bash"}} -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
{{- end }}
{{- end }}

{{- if (not (stat (joinPath .chezmoi.homeDir ".config/fish/config.fish"))) }}
# Install fish
{{- if eq .chezmoi.os "linux" -}}
yay --needed community/fish
{{- else if eq .chezmoi.os "darwin" -}}
brew install fish
{{- end }}
{{- end }}

# Install Aqua
# renovate: depName=aquaproj/aqua datasource=github-releases
current_aqua_version=v1.6.2

if [ ! $(command -v aqua) ] || [ $(aqua -v | head -n1 | cut -d" " -f3 | sed "s/^/v/") != $current_aqua_version ]; then
  echo "installing / upgrading aqua"
  curl -sSfL https://raw.githubusercontent.com/aquaproj/aqua-installer/v1.0.0/aqua-installer | {{ lookPath "bash" }} -s -- -v $current_aqua_version -i {{ (joinPath .chezmoi.homeDir ".local/bin/aqua") }}
  AQUA_GLOBAL_CONFIG={{ (joinPath .chezmoi.homeDir ".config/aqua/aqua.yaml") }} rm -rf {{ (joinPath .chezmoi.homeDir ".local/share/aqua") }} && aqua install -a
fi

{{- if not (lookPath "asdf") }}
# Install asdf-vm
{{ if eq .chezmoi.os "linux" -}}
yay -S --needed --noconfirm asdf-vm
{{ else if eq .chezmoi.os "darwin" -}}
brew install asdf
{{- end -}}
{{- end }}
