{{- $plugins := list
  "age"
  "chezmoi"
  "flux2"
  "github-cli"
  "golang"
  "helm-ct"
  "helm"
  "k9s"
  "krew"
  "kubectl"
  "kustomize"
  "mc"
  "nodejs"
  "pre-commit"
  "python"
  "shellcheck"
  "shfmt"
  "starship"
  "stern"
  "talhelper"
  "talosctl"
  "task"
  "terraform"
  "tfctl"
  "yamllint"
-}}

{{- $pluginsWithVersions := list -}}
{{- range $plugins -}}
  {{- $pluginVersion := "latest" -}}
  {{- if hasKey $.asdf_versions . -}}
    {{- $pluginVersion = get $.asdf_versions . -}}
  {{- end -}}
  {{- $pluginsWithVersions = append $pluginsWithVersions (dict "name" . "version" $pluginVersion) -}}
{{- end -}}

#!/usr/bin/env bash
function update_asdf_plugins() {
  echo "Updating asdf plugins..."
  rtx plugin update --all &> /dev/null
}

function is_asdf_plugin_installed() {
  test "$(rtx plugin list | grep "${1}")"
}

function is_asdf_plugin_version_installed() {
  test "$(rtx list -p "${1}" | grep "${2}")"
}

function install_asdf_plugins() {
  {{- range $pluginsWithVersions }}
  echo "Installing asdf plugin {{ .name }}..."
  if ! is_asdf_plugin_installed "{{ .name }}"; then
    rtx plugin add "{{ .name }}" > /dev/null 2>&1
  fi
  asdf_version="{{ .version }}"
  if [[ "${asdf_version}" == "latest" ]]; then
    asdf_version=$(rtx latest "{{ .name }}")
  fi
  if ! is_asdf_plugin_version_installed "{{ .name }}" "${asdf_version}"; then
    rtx install "{{ .name }}@${asdf_version}"
  fi
  rtx global "{{ .name }}@${asdf_version}" 1> /dev/null
  {{ end }}
}

function main() {
  # update_asdf_plugins
  install_asdf_plugins
}

if [[ ${#BASH_SOURCE[@]} = 1 ]]; then
  main
fi
