[character]
success_symbol = "[❯](bold green)"
error_symbol = "[✖](bold red)"

[directory]
truncation_length = 5
truncate_to_repo = true

# Disable the package module, hiding it from the prompt completely
[package]
disabled = true

[git_branch]
symbol = " "

{{ if $.kubernetes -}}
[kubernetes]
symbol = "ﴱ "
format = 'on [ﴱ $context \($namespace\)](bold bright-green) '
disabled = false
[kubernetes.context_aliases]
"default" = "cluster-0"
{{- end }}
