[Desktop Entry]
Version=1.0
Type=Application
Name=Microsoft Teams
Comment=Microsoft Teams (Chrome)
Exec=/opt/google/chrome/chrome --app="https://teams.microsoft.com/"
Icon=
Path=
Terminal=false
StartupNotify=false
