[Desktop Entry]
Version=1.0
Type=Application
Name=Microsoft Teams
Comment=Microsoft Teams (Chromium)
Exec=/usr/bin/chromium --app="https://teams.microsoft.com/"
Icon=
Path=
Terminal=false
StartupNotify=false
