# Set up colors for LS_COLORS
eval (gdircolors -c {{ .chezmoi.homeDir }}/.config/dircolors)

# Initialize starship
starship init fish | source

# Set up direnv
direnv hook fish | source

# Initialize pyenv
status --is-interactive; and pyenv init - | source

# Set up paths
fish_add_path "/usr/local/sbin"
fish_add_path "/usr/local/opt/grep/libexec/gnubin"

{{- if (eq .chezmoi.os "darwin") }}
set -gx HOMEBREW_NO_ANALYTICS 1
{{- end }}
