# Set up colors for LS_COLORS
{{- if (eq .chezmoi.os "darwin") }}
eval (gdircolors -c {{ .chezmoi.homeDir }}/.config/dircolors)
{{- else if eq .chezmoi.os "linux" }}
eval (dircolors -c {{ .chezmoi.homeDir }}/.config/dircolors)
{{- end }}

{{ if eq .chezmoi.os "linux" -}}
# Configure GPG
set -gx GPG_TTY (tty)
{{- end }}

# Initialize starship
set -gx STARSHIP_CONFIG {{ .chezmoi.homeDir }}/.config/starship/config.toml
starship init fish | source

# Set up zoxide
if type -q zoxide
    zoxide init fish | source
end

# Set up direnv
if type -q direnv
    direnv hook fish | source
end

# Initialize asdf
{{- if (eq .chezmoi.os "darwin") }}
source (brew --prefix asdf)/libexec/asdf.fish
{{- else if eq .chezmoi.os "linux" }}
source /opt/asdf-vm/asdf.fish
{{- end }}

# Set up paths
fish_add_path "/usr/local/sbin"

{{ if (eq .chezmoi.os "darwin") -}}
fish_add_path "/usr/local/opt/grep/libexec/gnubin"

# Set up homebrew
fish_add_path "/opt/homebrew/bin"
fish_add_path "/opt/homebrew/sbin"
set -gx HOMEBREW_NO_ANALYTICS 1
{{- end }}

set -U fish_greeting
