#window {
  border-radius: 2px;
  border: 2px solid #f7768e;
  background-color: #24283b;
}
#input {
  background-color: #24283b;
  border: 2px solid #f7768e;
  padding: 4px;
}

#text {
  color: #c0caf5;
}

#outer-box {
  padding: 5px;
  margin: 10px;
}

#inner-box {
  padding-top: 10px;
}

#img {
  margin-right: 5px;
}

#entry:selected {
  background-color: #24283b;
  border: 1px solid #7dcfff;
}
#text:selected {
  color: #7dcfff;
}
