{{ if eq .chezmoi.os "linux" -}}
# Configure GPG
set -gx GPG_TTY (tty)
{{- end }}

# Set up paths
fish_add_path "/usr/local/sbin"
fish_add_path "{{ .chezmoi.homeDir }}/.local/bin"

{{ if (eq .chezmoi.os "darwin") -}}
fish_add_path "/usr/local/opt/grep/libexec/gnubin"

# Set up homebrew
fish_add_path "/opt/homebrew/bin"
fish_add_path "/opt/homebrew/sbin"
fish_add_path "/opt/homebrew/opt/gnu-sed/libexec/gnubin"
fish_add_path "/opt/homebrew/opt/coreutils/libexec/gnubin"
set -gx HOMEBREW_NO_ANALYTICS 1
{{- end }}

set -U fish_greeting

{{ if eq .chezmoi.os "linux" -}}
# Environment.d
export (/usr/lib/systemd/user-environment-generators/30-systemd-environment-d-generator)

# Run sway on TTY1
if [ (tty) = "/dev/tty1" ]
    exec sway
end
{{- end }}
