@theme "nord"
configuration {
  modi: "drun,projects:~/.config/rofi/projects.sh,window";
  display-drun: "applications";
  font: "JetBrainsMono Nerd Font 11";
  timeout {
      action: "kb-cancel";
      delay:  0;
  }
  filebrowser {
      directories-first: true;
      sorting-method:    "name";
  }
}
