{
  /*+--- Core ---+*/
  "editor.bracketPairColorization.enabled": true,
  "editor.defaultFormatter": "esbenp.prettier-vscode",
  "editor.stickyScroll.enabled": true,
  "editor.fontFamily": "'FiraCode Nerd Font', 'Font Awesome 6 Free Solid'",
  "editor.fontLigatures": true,
  "editor.guides.bracketPairs": true,
  "editor.guides.bracketPairsHorizontal": true,
  "editor.guides.highlightActiveBracketPair": true,
  "editor.tabSize": 2,
  "explorer.compactFolders": false,
  "explorer.confirmDelete": false,
  "explorer.confirmDragAndDrop": false,
  "files.associations": {},
  "files.autoSave": "onFocusChange",
  "files.eol": "\n",
  "files.insertFinalNewline": true,
  "files.trimTrailingWhitespace": true,
  "git.autofetch": true,
  "git.confirmSync": false,
  "update.showReleaseNotes": false,
  "window.newWindowDimensions": "maximized",
  "window.restoreWindows": "none",
  "window.titleBarStyle": "custom",
  "workbench.colorTheme": "Catppuccin Macchiato",
  "workbench.iconTheme": "material-icon-theme",
  "workbench.sideBar.location": "left",
  "workbench.startupEditor": "newUntitledFile",
  "workbench.tree.renderIndentGuides": "none",

  /*+--- Language settings ---+*/
  "[go]": {
    "editor.defaultFormatter": "golang.go"
  },
  "[terraform]": {
    "editor.defaultFormatter": "hashicorp.terraform"
  },

  /*+--- Color Theme ---+*/
  "material-icon-theme.activeIconPack": "react",
  "material-icon-theme.folders.associations": {
    ".taskfiles": "utils"
  },
  "material-icon-theme.folders.color": "#616e88",
  "material-icon-theme.folders.theme": "classic",
  "material-icon-theme.hidesExplorerArrows": false,
  "material-icon-theme.saturation": 0.6,

  /*+--- Extensions ---+*/
  "projectManager.git.baseFolders": [
    "~/Development/src"
  ],
  "projectManager.git.maxDepthRecursion": 5,
  "projectManager.svn.baseFolders": [
    "~/Development/src"
  ],
  "projectManager.svn.maxDepthRecursion": 5,
  "projectManager.showParentFolderInfoOnDuplicates": true,
  "redhat.telemetry.enabled": false,
  "sops.beta": false,
  "todo-tree.highlights.useColourScheme": true,
  "todo-tree.tree.expanded": true,
  "vs-kubernetes": {
    "vs-kubernetes.crd-code-completion": "enabled"
  },
  "yaml.format.enable": true,
  "yaml.schemas": {
    "https://json.schemastore.org/taskfile.json": [
      "Taskfile.yaml",
      ".taskfiles/*.yaml"
    ],
    "http://json.schemastore.org/github-workflow.json": [
      ".github/workflows/*.yaml"
    ]
  }
}
