[Unit]
Description=Bluetooth management applet

[Service]
Type=dbus
BusName=org.blueman.Applet
ExecStart=/usr/bin/blueman-applet

[Install]
WantedBy=sway-session.target
