{
  /*+--- Core ---+*/
  "editor.tabSize": 2,
  "editor.fontFamily": "'FiraCode Nerd Font', 'Font Awesome 6 Free Solid'",
  "editor.fontLigatures": true,
  "explorer.compactFolders": false,
  "explorer.confirmDelete": false,
  "explorer.confirmDragAndDrop": false,
  "files.associations": {},
  "files.autoSave": "onFocusChange",
  "files.eol": "\n",
  "files.insertFinalNewline": true,
  "files.trimTrailingWhitespace": true,
  "git.autofetch": true,
  "git.confirmSync": false,
  "update.showReleaseNotes": false,
  "window.newWindowDimensions": "maximized",
  "window.restoreWindows": "none",
  "workbench.colorTheme": "Nord",
  "workbench.iconTheme": "material-icon-theme",
  "workbench.sideBar.location": "left",
  "workbench.startupEditor": "newUntitledFile",
  "workbench.tree.renderIndentGuides": "none",

  "[json]": {
    "editor.defaultFormatter": "esbenp.prettier-vscode"
  },

  "[yaml]": {
    "editor.defaultFormatter": "esbenp.prettier-vscode"
  },

  /*+--- Color Theme ---+*/
  "editor.tokenColorCustomizations": {
    "[Nord]": {
      "textMateRules": []
    }
  },
  "material-icon-theme.activeIconPack": "react",
  "material-icon-theme.folders.color": "#616e88",
  "material-icon-theme.folders.theme": "classic",
  "material-icon-theme.hidesExplorerArrows": false,
  "material-icon-theme.saturation": 0.6,
  "workbench.colorCustomizations": {
    "[Nord]": {}
  },

  /*+--- Extensions ---+*/
  "projectManager.git.baseFolders": [
    "~/Development/src"
  ],
  "projectManager.showParentFolderInfoOnDuplicates": true,
  "redhat.telemetry.enabled": false,
  "sops.beta": false,
  "todo-tree.tree.expanded": true,
  "todo-tree.highlights.useColourScheme": true,
  "yaml.format.enable": true,
}
