### Window borders
default_border pixel 2
hide_edge_borders smart
default_floating_border normal

#### Create gaps if more than 1 container
smart_gaps on

#### Configure gaps
gaps inner 4
gaps outer 0
##### Gaps between screen edges and containers
gaps left 0
gaps right 0
gaps top 0
gaps bottom 0

client.focused           #c6a0f6 #24273a #cad3f5 #c6a0f6   #c6a0f6
client.focused_inactive  #24273a #24273a #cad3f5 #24273a   #24273a
client.unfocused         #24273a #24273a #cad3f5 #24273a   #24273a
