### Window borders
default_border pixel 2
hide_edge_borders smart
default_floating_border normal

#### Create gaps if more than 1 container
smart_gaps on

#### Configure gaps
gaps inner 4
gaps outer 0
##### Gaps between screen edges and containers
gaps left 0
gaps right 0
gaps top 0
gaps bottom 0

client.focused           #9aa5ce #16161d #c0caf5 #9aa5ce   #9aa5ce
client.focused_inactive  #16161d #16161d #c0caf5 #16161d   #16161d
client.unfocused         #16161d #16161d #c0caf5 #16161d   #16161d
