exec_always "systemctl --user import-environment; systemctl --user start sway-session.target"
exec wl-paste -t text --watch myclipman.sh

exec reset_chromium_exitstate.sh

#### Always-available scratchpad terminal
exec $term_float

#### Window focus
exec swaymsg focus output $ws1
