[Desktop Entry]
Version=1.0
Type=Application
Name=Microsoft Teams
Comment=Microsoft Teams (Edge)
Exec=/usr/bin/chromium --app="https://teams.microsoft.com/"
Icon=chromium
Terminal=false
StartupNotify=true
Categories=Network;Webbrowser;
