[Desktop Entry]
Version=1.0
Type=Application
Name=Microsoft Teams (Chromium App)
Comment=Microsoft Teams
Exec=/usr/bin/chromium --app="https://teams.microsoft.com/"
Icon=teams
Terminal=false
StartupNotify=true
Categories=Network;Webbrowser;
