[Desktop Entry]
Version=1.0
Type=Application
Name=Microsoft Teams
Comment=Microsoft Teams (Edge)
Exec=/usr/bin/microsoft-edge-stable --app="https://teams.microsoft.com/"
Icon=microsoft-edge
Terminal=false
StartupNotify=true
Categories=Network;Webbrowser;
